.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 20px;


}
.navbar-right{
    display: flex;
    align-items:center;
    gap: 50px;
}
/* .navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 20px 50px;
    border-bottom: 50px;
    cursor: pointer;
} */
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 20px 50px;
    border-bottom: -13px;
    cursor: pointer;
    transition: 0.3s;

}
.navbar button:hover{
    background-color: #fff4f2;

}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;

}
.navbar li{
    cursor: pointer;
}